@page
@model E_commerce.Pages.Seller.SellerWaitingPagecshtmlModel
@{
}
<h3> This is seller waiting page</h3>
<h2>Wait until the Admin Approves You!!</h2>
<div class="row">
    <div class="col-md-6 mb-3 text-center"> 
        <img src="~/Upload/WaitingLogo.png" alt="Waiting.."> 
    </div>
</div>
